:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: "Space Mono", Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* max-width:100%;
  height:auto; */
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

.body_text{
  font-size: 2rem; 
  line-height: 5rem;
}

.input{
  height: 3rem;
  font-size: 2rem;
}

.lunch{
margin-bottom: 1rem;
  font-size: 2rem;
	line-height: 5rem;
	border: 2rem ridge #32a1ce;
	padding: 1rem;
  cursor: pointer;
}

.container {
  color: var(--color);
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  font-family: "Space Mono";
}

.right {
  text-align: center;
  width: 100%;
}

.stack {
  display: grid;
  grid-template-columns: 1fr;
}

.stack span {
  font-weight: normal;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 2rem;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 5s alternate-reverse;
}

.stack span:nth-child(odd) { --glitch-translate: 8px; }
.stack span:nth-child(even) { --glitch-translate: -8px; }
#stack-main {--stacks: 4;}
#stack-1 { --index: 1; }
#stack-2 { --index: 2; }
#stack-3 { --index: 3; }
#stack-3 { --index: 4; }

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
  };
  30% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  40% {
    transform: none;
    opacity: 1;
    text-shadow: 5px -35px 0 red, -2px 3px 0 blue;
  }
  50% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 red, 2px -10px 0 blue;
  };
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 red, -20px 3px 0 blue;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 35px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 red, -20px 3px 0 blue;
  }
  4%, 100% {  text-shadow: none; transform: none; }
}

@font-face {
  font-family: 'Orbitron';
  src: url('../public/Orbitron/Orbitron-VariableFont_wght.ttf');
  font-weight: 400;
  font-style: normal;
  }

@font-face {
 font-family: 'Space Mono';
 src: url('../public/Space_Mono/SpaceMono-Regular.ttf');
 font-weight: 400;
 font-style: normal;
 }

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media only screen and (max-width: 5000px) {
  .container {
    font-size: 2rem;
    
  }
  .stack span{
    font-size: 4rem;
  }
  .responsive {
    margin: 3rem 2rem;
  }
  .body_text{
    font-size: 2rem; 
    line-height: 5rem;
  }
  .input{
    height: 3rem;
    font-size: 2rem;
  }
  .lunch{
margin-bottom: 1rem;
    font-size: 2rem;
    line-height: 5rem;
    border: 2rem ridge #32a1ce;
    padding: 1rem;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    font-size: 2rem;
    
  }
  .stack span{
    font-size: 4rem;
  }
  .responsive {
    margin: 2rem 1rem;
  }
  .body_text{
    font-size: 2rem; 
    line-height: 5rem;
  }
  .input{
    height: 3rem;
    font-size: 2rem;
  }
  .lunch{
margin-bottom: 1rem;
    font-size: 2rem;
    line-height: 5rem;
    border: 2rem ridge #32a1ce;
    padding: 1rem;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    font-size: 2rem;
    
  }
  .stack span{
    font-size: 2rem;
  }
  .responsive {
    margin: 2rem 1rem;
  }
  .body_text{
    font-size: 1.5rem; 
    line-height: 3rem;
  }
  .input{
    height: 2rem;
    font-size: 1.5rem;
  }
  .lunch{
margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 3rem;
    border: 1rem ridge #32a1ce;
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    font-size: 1.5rem;
    
  }
  .stack span{
    font-size: 2rem;
  }
  .responsive {
    margin: 2rem 1rem;
  }
  .body_text{
    font-size: 1.5rem; 
    line-height: 3rem;
  }
  .input{
    height: 2rem;
    font-size: 1.5rem;
  }
  .lunch{
margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 3rem;
    border: 1rem ridge #32a1ce;
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 450px) {
  .container {
    font-size: 1rem;
    
  }
  .stack span{
    font-size: 2rem;
  }
  .body_text{
    font-size: 1rem; 
    line-height: 2rem;
  }
  .responsive {
    margin: 2rem 1rem;
  }
  .input{
    height: 1.5rem;
    font-size: 1rem;
  }
  .lunch{
margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 2rem;
    border: 0.5rem ridge #32a1ce;
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 300px) {
  .container {
    font-size: 0.75rem;
    
  }
  .stack span{
    font-size: 1rem;
  }
  .body_text{
    font-size: 0.75rem; 
    line-height: 1rem;
  }
  .responsive {
    margin: 1rem 0.75rem;
  }
  .input{
    height: 1rem;
    font-size: 0.75rem;
  }
  .lunch{
margin-bottom: 1rem;
    font-size: 0.75rem;
    line-height: 1rem;
    border: 0.25rem ridge #32a1ce;
    padding: 0.25rem;
  }
}


